<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371250117089-6saaa009ghftk3p77dls8h90nbsqf8f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371250117089-6saaa009ghftk3p77dls8h90nbsqf8f3</string>
	<key>API_KEY</key>
	<string>AIzaSyAPSi2qWpa0XMEJKi_EN-dPsh_m8bPpkn0</string>
	<key>GCM_SENDER_ID</key>
	<string>371250117089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>noteapp-flutte-shubhang</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-flutte-shubhang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371250117089:ios:053a5a3dd1ef9085803aa0</string>
</dict>
</plist>